/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

@keyframes gliching {
    from, to,
    15%, 35%,
    65%, 95% { text-shadow: none; }
    20%, 25%, 30% { text-shadow: red -3px 0, cyan 3px 0; }
    23%, 27% { text-shadow: red -2px 0, cyan 2px 0; }
    70%, 80%, 90% { text-shadow: red -3px 2px, blue 0 -2px, green 3px 2px; }
    75%, 85% { text-shadow: red -2px 2px, blue 0 -3px, green 2px 2px; }
    }
@-webkit-keyframes gliching {
    from, to,
    15%, 35%,
    65%, 95% { text-shadow: none; }
    20%, 25%, 30% { text-shadow: red -3px 0, cyan 3px 0; }
    23%, 27% { text-shadow: red -2px 0, cyan 2px 0; }
    70%, 80%, 90% { text-shadow: red -3px 2px, blue 0 -2px, green 3px 2px; }
    75%, 85% { text-shadow: red -2px 2px, blue 0 -3px, green 2px 2px; }
    }

.display {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 15vmin;
    animation: gliching 10s ease 0s infinite forwards;
    -webkit-animation: gliching 10s ease 0s infinite forwards;
    }
.dots { font-size: 7.5vmin; }
.footer {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    font-size: 1.2rem;
    }
* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    }
html { font-size: 62.5%; }